@media only screen and (max-width: 821px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar {
      flex-direction: row;
      align-items: center;
    }
  
    .navbar li {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }

    form {
      width: 90%;
    }
  
    form button {
      margin: auto;
    }
  
    .post {
      width: 80%;
    }

    .post h1 {
      padding: 0.2rem;
    }

    .main-content {
      flex-direction: column;
      margin: auto;
    }
    
    .latest {
      margin-top: 0%;
    }

    .latest-trending {
      width: 60%;
      margin: auto;
      margin-bottom: 6%;
    }

    .add-post-button {
      width: auto;
    }
  }

  @media only screen and (max-width: 580px){
    .navbar {
      gap: 1.2rem;
    }
    #searchbar {
      width: 90%;
      margin: auto;
    }
    .navbar li{
      margin-top: 0%;
      margin: auto;
    }
    .trending {
      margin-bottom: 6%;
    }
    .post {
      width: 80%;
      padding:0;
    }
  }